<ion-view title="ChatApp" id="page1" class=" ">
    <ion-content padding="true" style="background: url(img/IsTOKG0QQFmw7ou2wtF0_download.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="chatApp-form1" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
        </form>
        <ion-list id="chatApp-list1" class=" ">
            <ion-item id="chatApp-list-item1" class="  ">Mjane</ion-item>
            <ion-item id="chatApp-list-item2" class="  ">Jane</ion-item>
            <ion-item id="chatApp-list-item3" class="  ">Palz</ion-item>
        </ion-list>
        <ion-list id="chatApp-list2" class=" ">
            <ion-item id="chatApp-list-item4" class="  ">p1</ion-item>
            <ion-item id="chatApp-list-item5" class="  ">p2</ion-item>
        </ion-list>
    </ion-content>
</ion-view>