<ion-view title="Page" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page-list6" class=" ">
            <ion-item class="item-avatar  " id="page-list-item18">
                <img src="img/OUMOhlWEQOGenZBTMYhA_flowers-hd-wallpaper-10.jpg">
                <h2>Mjane</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 265px;"></div>
        <form id="page-form10" class="list ">
            <label class="item item-input " id="page-textarea4">
                <span class="input-label">Text</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <button id="page-button5" class=" button button-positive  button-block ">Send</button>
    </ion-content>
</ion-view>