<ion-view title="Signup" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form3" class="list ">
            <ion-item class="calm  " id="signup-list-item9">Name</ion-item>
            <ion-item class="calm  " id="signup-list-item10">Username</ion-item>
            <ion-item class="calm  " id="signup-list-item11">Email</ion-item>
            <ion-item class="balanced  " id="signup-list-item12">Password</ion-item>
            <button id="signup-button2" style="color:BLUE;" class=" button button-calm  button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>